.ion-card-style{
    padding:1px 10px;
}
.activity-row{
    display: flex; 
    flex-direction: row;
    min-height:40px;
}
.time-wrapper{
    display: flex;
    gap: 2; 
    flex-direction: column; 
    border-left: 3px solid #ebcc1e; 
    padding: 5px 5px 5px 30px;
}
.time-icon {
    color: #ebcc1e;
}
.stars-wrapper {
    display: flex; 
    flex-direction: column; 
    margin-right: -25px;
}
.yellow-stars{
    padding: 5px; 
    color: #ebcc1e ;
    font-size: 14px; 
    border: 1px solid #ebcc1e; 
    border-radius: 10px 10px 0 0;
    background-color:white;
}
.red-stars{
    padding: 5px; 
    color: red ;
    font-size: 14px; 
    border: 1px solid red; 
    border-radius: 0 0 10px 10px;
    background-color: white
}
.food-name-wrapper{
    display: flex; 
    gap: 2; 
    flex-direction: column;
    padding: 8px
}
.food-name{
    font-size: 16px;
    color:black;
    font-weight: bold
}